{% extends "appbuilder/base.html" %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ _("Dynamic firewall") }}</h1>
            <style>
                body {
                    background-color: #EEF5FF !important;
                    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-size: 15px;
                    line-height: 1.42857143;
                    color: #176B87;
                }

                .jumbotron {
                    background-color: #ecf0f100;
                }

                .navbar-inverse {
                    background-color: #3887BE;

                }

                .navbar-inverse .navbar-toggle {
                    border-color: #86B6F6;
                }

                .icon-bar {
                    background-color: #EEF5FF;
                }

                .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
                    background-color: #86B6F6;
                }

                element.style {
                }

                .collapse.in {
                    display: block;
                    overflow: visible;
                }

                .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
                    border-color: #86B6F6;
                }

                .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
                    color: #176B87;
                    background-color: #EEF5FF;
                }

                a {
                    color: #B4D4FF;
                    text-decoration: none;
                }

            </style>
        </div>
    </div>


{% endblock %}
